Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.JuanZi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.JuanZi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentExamResultWordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentExamResultWordInfo" nillable="true" type="tns:StudentExamResultWordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentExamResultWordInfo" nillable="true" type="tns:ArrayOfStudentExamResultWordInfo" />
  <xs:complexType name="StudentExamResultWordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfflineExamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfflineExamPageCount" type="xs:int" />
      <xs:element minOccurs="0" name="OfflineExamUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentExamResultId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentExamResultWordInfo" nillable="true" type="tns:StudentExamResultWordInfo" />
</xs:schema>