Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" />
  <xs:complexType name="CreateJuanZiQbmsApplyRequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="GradeId" type="xs:int" />
      <xs:element minOccurs="0" name="JuanZiName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" minOccurs="0" name="JuanZiQuestionInfos" nillable="true" type="q1:ArrayOfJuanZiQuestionInfoRequest" />
      <xs:element minOccurs="0" name="JuanZiTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReadCommentTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateJuanZiQbmsApplyRequestBase" nillable="true" type="tns:CreateJuanZiQbmsApplyRequestBase" />
  <xs:complexType name="CreateJuanZiQbmsApplyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CreateJuanZiQbmsApplyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachmentBytes" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="AttachmentName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateJuanZiQbmsApplyRequest" nillable="true" type="tns:CreateJuanZiQbmsApplyRequest" />
</xs:schema>