Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Request" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreateReportInOneStepRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Request" base="q1:CreateJuanZiQbmsApplyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludeWrongNoteBookModule" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsForecastExam" type="xs:boolean" />
          <xs:element minOccurs="0" name="JuanZiId" type="xs:int" />
          <xs:element minOccurs="0" name="ReportLogo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ReportLogoPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResetStudentName" type="xs:boolean" />
          <xs:element minOccurs="0" name="StudentScoreInfos" nillable="true" type="tns:ArrayOfStudentScoreInfoRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateReportInOneStepRequest" nillable="true" type="tns:CreateReportInOneStepRequest" />
  <xs:complexType name="ArrayOfJuanZiQuestionInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JuanZiQuestionInfoRequest" nillable="true" type="tns:JuanZiQuestionInfoRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJuanZiQuestionInfoRequest" nillable="true" type="tns:ArrayOfJuanZiQuestionInfoRequest" />
  <xs:complexType name="JuanZiQuestionInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChooseQuestionGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="FullScore" type="xs:double" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JuanZiQuestionInfoRequest" nillable="true" type="tns:JuanZiQuestionInfoRequest" />
  <xs:complexType name="ArrayOfStudentScoreInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentScoreInfoRequest" nillable="true" type="tns:StudentScoreInfoRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentScoreInfoRequest" nillable="true" type="tns:ArrayOfStudentScoreInfoRequest" />
  <xs:complexType name="StudentScoreInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetScoreInfoRequests" nillable="true" type="tns:ArrayOfGetScoreInfoRequest" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTrueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentScoreInfoRequest" nillable="true" type="tns:StudentScoreInfoRequest" />
  <xs:complexType name="ArrayOfGetScoreInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetScoreInfoRequest" nillable="true" type="tns:GetScoreInfoRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetScoreInfoRequest" nillable="true" type="tns:ArrayOfGetScoreInfoRequest" />
  <xs:complexType name="GetScoreInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:double" />
      <xs:element minOccurs="0" name="StudentAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetScoreInfoRequest" nillable="true" type="tns:GetScoreInfoRequest" />
  <xs:complexType name="CreateReportInJuanZiQbmsApplyRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Request" base="q2:CreateJuanZiQbmsApplyRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsForecastExam" type="xs:boolean" />
          <xs:element minOccurs="0" name="ReportLogo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ReportLogoPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentScoreInfos" nillable="true" type="tns:ArrayOfStudentScoreInfoRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateReportInJuanZiQbmsApplyRequest" nillable="true" type="tns:CreateReportInJuanZiQbmsApplyRequest" />
  <xs:complexType name="GetTiFenCeReportListRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecordId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTiFenCeReportListRequest" nillable="true" type="tns:GetTiFenCeReportListRequest" />
  <xs:complexType name="GetTiFenCeReportStatusListRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecordIds" nillable="true" type="q3:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTiFenCeReportStatusListRequest" nillable="true" type="tns:GetTiFenCeReportStatusListRequest" />
</xs:schema>