Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" />
  <xs:complexType name="GetJuanZiQbmsApplyResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="JuanZiId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Request" minOccurs="0" name="JuanZiQuestionInfos" nillable="true" type="q1:ArrayOfJuanZiQuestionInfoRequest" />
      <xs:element minOccurs="0" name="StatusFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetJuanZiQbmsApplyResultResponse" nillable="true" type="tns:GetJuanZiQbmsApplyResultResponse" />
</xs:schema>