Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Response" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Exam" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum" minOccurs="0" name="RequestFromType" type="q1:RequestFromTypeEnum" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ServiceResultOfCreateReportInOneStepResponse4GHbq3UM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreateReportInOneStepResponse" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" minOccurs="0" name="Entity" nillable="true" type="q2:CreateReportInOneStepResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfCreateReportInOneStepResponse4GHbq3UM" nillable="true" type="tns:ServiceResultOfCreateReportInOneStepResponse4GHbq3UM" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsSucceed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="ServiceResultOfGetTiFenCeReportListResponse4GHbq3UM">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetTiFenCeReportListResponse" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" minOccurs="0" name="Entity" nillable="true" type="q3:GetTiFenCeReportListResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfGetTiFenCeReportListResponse4GHbq3UM" nillable="true" type="tns:ServiceResultOfGetTiFenCeReportListResponse4GHbq3UM" />
  <xs:complexType name="ServiceResultOfArrayOfTiFenCeReportStatusModelxh_SroZBm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTiFenCeReportStatusModel" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report" minOccurs="0" name="Entity" nillable="true" type="q4:ArrayOfTiFenCeReportStatusModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfTiFenCeReportStatusModelxh_SroZBm" nillable="true" type="tns:ServiceResultOfArrayOfTiFenCeReportStatusModelxh_SroZBm" />
  <xs:complexType name="ServiceResultOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Entity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfint" nillable="true" type="tns:ServiceResultOfint" />
  <xs:complexType name="ServiceResultOfGetJuanZiQbmsApplyResultResponse8qtYJVFK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetJuanZiQbmsApplyResultResponse" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Response" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.JuanZiPoint.Response" minOccurs="0" name="Entity" nillable="true" type="q5:GetJuanZiQbmsApplyResultResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfGetJuanZiQbmsApplyResultResponse8qtYJVFK" nillable="true" type="tns:ServiceResultOfGetJuanZiQbmsApplyResultResponse8qtYJVFK" />
  <xs:complexType name="ServiceResultOfArrayOfSelfEvaluationExcelModelpB_SKTQd7">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfSelfEvaluationExcelModel" Namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Exam" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Exam" minOccurs="0" name="Entity" nillable="true" type="q6:ArrayOfSelfEvaluationExcelModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceResultOfArrayOfSelfEvaluationExcelModelpB_SKTQd7" nillable="true" type="tns:ServiceResultOfArrayOfSelfEvaluationExcelModelpB_SKTQd7" />
</xs:schema>