Test/Connected Services/TiFenCePdfDataService/TiFenCePdfDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:11524/TiFenCePdfDataService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report" />
  <xs:complexType name="CreateReportInOneStepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckErrorMessage" nillable="true" type="tns:ArrayOfCreateReportError" />
      <xs:element minOccurs="0" name="ReprotRecordId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateReportInOneStepResponse" nillable="true" type="tns:CreateReportInOneStepResponse" />
  <xs:complexType name="ArrayOfCreateReportError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreateReportError" nillable="true" type="tns:CreateReportError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreateReportError" nillable="true" type="tns:ArrayOfCreateReportError" />
  <xs:complexType name="CreateReportError">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorMessages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="StudentCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateReportError" nillable="true" type="tns:CreateReportError" />
  <xs:complexType name="GetTiFenCeReportListResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Report" minOccurs="0" name="DownloadReportInfos" nillable="true" type="q2:ArrayOfDownloadReportInfo" />
      <xs:element minOccurs="0" name="ProcessStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTiFenCeReportListResponse" nillable="true" type="tns:GetTiFenCeReportListResponse" />
</xs:schema>