Miao_ToolCase/Connected Services/TiFenCeService/TiFenCeService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.ProceduralEvaluation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.ProceduralEvaluation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProceduralEvaluationRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProceduralEvaluationRecord" nillable="true" type="tns:ProceduralEvaluationRecord" />
</xs:schema>