Miao_ToolCase/Connected Services/TiFenCeService/TiFenCeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.Order.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.Order.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCeService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" />
  <xs:complexType name="OrderConfirmRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OpenId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfConfirmProduct" />
          <xs:element minOccurs="0" name="TargetUserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderConfirmRequest" nillable="true" type="tns:OrderConfirmRequest" />
  <xs:complexType name="ArrayOfConfirmProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfirmProduct" nillable="true" type="tns:ConfirmProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfirmProduct" nillable="true" type="tns:ArrayOfConfirmProduct" />
  <xs:complexType name="ConfirmProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmProduct" nillable="true" type="tns:ConfirmProduct" />
</xs:schema>