Miao_ToolCase/Connected Services/TiFenCeService/TiFenCeService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiFenCeService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation" />
  <xs:complexType name="SubmitAutoZonedQuestionResultRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="JuanZiHtml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JuanZiId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation" minOccurs="0" name="QuestionMappings" nillable="true" type="q1:ArrayOfAutoZonedQuestionMapping" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitAutoZonedQuestionResultRequest" nillable="true" type="tns:SubmitAutoZonedQuestionResultRequest" />
  <xs:complexType name="PublishJuanZiRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalID" type="xs:int" />
      <xs:element minOccurs="0" name="GradeId" type="xs:int" />
      <xs:element minOccurs="0" name="JuanZiTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="JuanZiYear" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation" minOccurs="0" name="QuestionMappings" nillable="true" type="q2:ArrayOfEvaluationAuditResultQuestionMapping" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublishJuanZiRequest" nillable="true" type="tns:PublishJuanZiRequest" />
</xs:schema>