Test/Connected Services/TiMingCe/TiMingCe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TiMingCe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.Request" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Common" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.View" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool.Result" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITiMingCe_GetStudentTiMingCeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentTiMingCeData" />
  </wsdl:message>
  <wsdl:message name="ITiMingCe_GetStudentTiMingCeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentTiMingCeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITiMingCe_CreateTiMingCeDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTiMingCeDocument" />
  </wsdl:message>
  <wsdl:message name="ITiMingCe_CreateTiMingCeDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTiMingCeDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ITiMingCe">
    <wsdl:operation name="GetStudentTiMingCeData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiMingCe/GetStudentTiMingCeData" message="tns:ITiMingCe_GetStudentTiMingCeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiMingCe/GetStudentTiMingCeDataResponse" message="tns:ITiMingCe_GetStudentTiMingCeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTiMingCeDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITiMingCe/CreateTiMingCeDocument" message="tns:ITiMingCe_CreateTiMingCeDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITiMingCe/CreateTiMingCeDocumentResponse" message="tns:ITiMingCe_CreateTiMingCeDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITiMingCe" type="tns:ITiMingCe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentTiMingCeData">
      <soap:operation soapAction="http://tempuri.org/ITiMingCe/GetStudentTiMingCeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTiMingCeDocument">
      <soap:operation soapAction="http://tempuri.org/ITiMingCe/CreateTiMingCeDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiMingCe">
    <wsdl:port name="BasicHttpBinding_ITiMingCe" binding="tns:BasicHttpBinding_ITiMingCe">
      <soap:address location="http://localhost:11524/TiMingCe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>