Test/Connected Services/TiMingCe/TiMingCe1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.View" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.View" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" />
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" />
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool.Result" />
  <xs:complexType name="TiMingCeEntity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" minOccurs="0" name="ArtsOrScience" type="q1:ArtsOrScienceEnum" />
      <xs:element minOccurs="0" name="CourseScorePredictions" nillable="true" type="tns:ArrayOfGaoKaoScorePredictionEntity" />
      <xs:element minOccurs="0" name="NextGaoKaoDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PassingStageScoreLines" nillable="true" type="tns:ArrayOfPassingStageScoreLineEntity" />
      <xs:element minOccurs="0" name="PredictionYear" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ranking" nillable="true" type="tns:GaoKaoRankingEntity" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ScoreDistribution" nillable="true" type="q2:ArrayOfKeyValueOfintint" />
      <xs:element minOccurs="0" name="StudentCountOfBelowUndergraduateFirstBatch" type="xs:int" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniversitySignUp" nillable="true" type="tns:UniversitySignUpEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiMingCeEntity" nillable="true" type="tns:TiMingCeEntity" />
  <xs:complexType name="ArrayOfGaoKaoScorePredictionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GaoKaoScorePredictionEntity" nillable="true" type="tns:GaoKaoScorePredictionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGaoKaoScorePredictionEntity" nillable="true" type="tns:ArrayOfGaoKaoScorePredictionEntity" />
  <xs:complexType name="GaoKaoScorePredictionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseShortName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" minOccurs="0" name="ImprovementPlan" nillable="true" type="q3:ArrayOfKnowledgePointScoreEstimation" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool.Result" minOccurs="0" name="PredictionKnowledgePointAssessments" nillable="true" type="q4:ArrayOfStudentExamKnowledgePointAssessmentView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GaoKaoScorePredictionEntity" nillable="true" type="tns:GaoKaoScorePredictionEntity" />
  <xs:complexType name="ArrayOfPassingStageScoreLineEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PassingStageScoreLineEntity" nillable="true" type="tns:PassingStageScoreLineEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPassingStageScoreLineEntity" nillable="true" type="tns:ArrayOfPassingStageScoreLineEntity" />
  <xs:complexType name="PassingStageScoreLineEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableSchoolCount" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfEnrollments" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLine" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLineDifference" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" minOccurs="0" name="Stage" type="q5:UniversityStageEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PassingStageScoreLineEntity" nillable="true" type="tns:PassingStageScoreLineEntity" />
  <xs:complexType name="GaoKaoRankingEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ranking" type="xs:int" />
      <xs:element minOccurs="0" name="RankingChangeOfImprovement" type="xs:int" />
      <xs:element minOccurs="0" name="RankingChangeOfScoreDecrementLevel" type="xs:int" />
      <xs:element minOccurs="0" name="RankingChangeOfScoreIncreaseLevel" type="xs:int" />
      <xs:element minOccurs="0" name="StudentCountOfTheRanking" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GaoKaoRankingEntity" nillable="true" type="tns:GaoKaoRankingEntity" />
  <xs:complexType name="UniversitySignUpEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessibleUniversity" nillable="true" type="tns:RecommendUniversityEntity" />
      <xs:element minOccurs="0" name="ConfidentUniversities" nillable="true" type="tns:ArrayOfRecommendUniversityEntity" />
      <xs:element minOccurs="0" name="DreamyUniversities" nillable="true" type="tns:ArrayOfRecommendUniversityEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UniversitySignUpEntity" nillable="true" type="tns:UniversitySignUpEntity" />
  <xs:complexType name="RecommendUniversityEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProvinceIdOfSchool" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceNameOfSchool" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankingRangeBegin" type="xs:int" />
      <xs:element minOccurs="0" name="RankingRangeEnd" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreLine" type="xs:int" />
      <xs:element minOccurs="0" name="UniversityRanking" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecommendUniversityEntity" nillable="true" type="tns:RecommendUniversityEntity" />
  <xs:complexType name="ArrayOfRecommendUniversityEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecommendUniversityEntity" nillable="true" type="tns:RecommendUniversityEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecommendUniversityEntity" nillable="true" type="tns:ArrayOfRecommendUniversityEntity" />
</xs:schema>