Test/Connected Services/TiMingCe/TiMingCe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfKnowledgePointScoreEstimation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnowledgePointScoreEstimation" nillable="true" type="tns:KnowledgePointScoreEstimation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnowledgePointScoreEstimation" nillable="true" type="tns:ArrayOfKnowledgePointScoreEstimation" />
  <xs:complexType name="KnowledgePointScoreEstimation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildrenKnowledgePointNameDisplay" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildrenKnowledgePointNameList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildrenKnowledgePoints" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="FutureScore" type="xs:double" />
      <xs:element minOccurs="0" name="IsPredict" type="xs:boolean" />
      <xs:element minOccurs="0" name="KnowledgePointFullPoint" type="xs:double" />
      <xs:element minOccurs="0" name="KnowledgePointId" type="xs:int" />
      <xs:element minOccurs="0" name="KnowledgePointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentKnowledgePointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointsToGain" type="xs:double" />
      <xs:element minOccurs="0" name="PointsToGainDisplayChange" type="xs:int" />
      <xs:element minOccurs="0" name="PreKnowledgePointScoreEstimation" nillable="true" type="tns:ArrayOfKnowledgePointScoreEstimation" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PreKnowledgePoints" nillable="true" type="q3:ArrayOfint" />
      <xs:element minOccurs="0" name="QuestionLevel" type="xs:double" />
      <xs:element minOccurs="0" name="Score" type="xs:double" />
      <xs:element minOccurs="0" name="SortingScore" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnowledgePointScoreEstimation" nillable="true" type="tns:KnowledgePointScoreEstimation" />
  <xs:complexType name="KnowledgePointPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="KnowledgePointFullPoint" type="xs:double" />
      <xs:element minOccurs="0" name="KnowledgePointId" type="xs:int" />
      <xs:element minOccurs="0" name="KnowledgePointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentKnowledgePointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionLevel" type="xs:double" />
      <xs:element minOccurs="0" name="RelatedQuestions" nillable="true" type="tns:ArrayOfKnowledgePointPointQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnowledgePointPoint" nillable="true" type="tns:KnowledgePointPoint" />
  <xs:complexType name="ArrayOfKnowledgePointPointQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KnowledgePointPointQuestion" nillable="true" type="tns:KnowledgePointPointQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKnowledgePointPointQuestion" nillable="true" type="tns:ArrayOfKnowledgePointPointQuestion" />
  <xs:complexType name="KnowledgePointPointQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:QuestionSimplifiedFormat" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KnowledgePointPointQuestion" nillable="true" type="tns:KnowledgePointPointQuestion" />
  <xs:complexType name="QuestionSimplifiedFormat">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinishTime" type="xs:int" />
      <xs:element minOccurs="0" name="KnowledgePointLabels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainKnowledgePoint" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionDisplayTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionLevel" type="xs:short" />
      <xs:element minOccurs="0" name="QuestionQuality" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionSortingScore" type="xs:double" />
      <xs:element minOccurs="0" name="SectionId" type="xs:int" />
      <xs:element minOccurs="0" name="SupportOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseRange" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UseRangeIds" nillable="true" type="q4:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionSimplifiedFormat" nillable="true" type="tns:QuestionSimplifiedFormat" />
</xs:schema>