Test/Connected Services/TiMingCe/TiMingCe8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" />
  <xs:complexType name="ArrayOfStudentExamKnowledgePointAssessmentView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentExamKnowledgePointAssessmentView" nillable="true" type="tns:StudentExamKnowledgePointAssessmentView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentExamKnowledgePointAssessmentView" nillable="true" type="tns:ArrayOfStudentExamKnowledgePointAssessmentView" />
  <xs:complexType name="StudentExamKnowledgePointAssessmentView">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.EvaluationTool" base="q1:KnowledgePointPoint">
        <xs:sequence>
          <xs:element minOccurs="0" name="PredictionRulerFullPoint" type="xs:double" />
          <xs:element minOccurs="0" name="PredictionRulerStudentScore" type="xs:double" />
          <xs:element minOccurs="0" name="StudentScore" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudentExamKnowledgePointAssessmentView" nillable="true" type="tns:StudentExamKnowledgePointAssessmentView" />
</xs:schema>