Test/Connected Services/TiMingCe/TiMingCe4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ArtsOrScienceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Arts" />
      <xs:enumeration value="Science" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ArtsOrScienceEnum" nillable="true" type="tns:ArtsOrScienceEnum" />
  <xs:simpleType name="UniversityStageEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UndergraduateFirstBatch">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UndergraduateSecondBatch">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="College">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Undergraduate_All">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UniversityStageEnum" nillable="true" type="tns:UniversityStageEnum" />
  <xs:simpleType name="TiMingCeTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoneSet" />
      <xs:enumeration value="HaveSet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TiMingCeTypeEnum" nillable="true" type="tns:TiMingCeTypeEnum" />
</xs:schema>