Test/Connected Services/TiMingCe/TiMingCe7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiMingCe.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11524/TiMingCe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" />
  <xs:complexType name="GetStudentTiMingCeDataRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" minOccurs="0" name="ArtsOrScience" type="q1:ArtsOrScienceEnum" />
      <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStudentTiMingCeDataRequest" nillable="true" type="tns:GetStudentTiMingCeDataRequest" />
  <xs:complexType name="GetCreateTiMingCeDocumentRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" minOccurs="0" name="ArtsOrScience" type="q2:ArtsOrScienceEnum" />
      <xs:element minOccurs="0" name="CourseJuanZiResult" nillable="true" type="tns:ArrayOfCourseJuanzi" />
      <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      <xs:element minOccurs="0" name="StudentNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YunXuePing.Model.Enum.TiMingCe" minOccurs="0" name="TiMingCeType" type="q3:TiMingCeTypeEnum" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCreateTiMingCeDocumentRequest" nillable="true" type="tns:GetCreateTiMingCeDocumentRequest" />
  <xs:complexType name="ArrayOfCourseJuanzi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseJuanzi" nillable="true" type="tns:CourseJuanzi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseJuanzi" nillable="true" type="tns:ArrayOfCourseJuanzi" />
  <xs:complexType name="CourseJuanzi">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="JuanZiResultId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseJuanzi" nillable="true" type="tns:CourseJuanzi" />
</xs:schema>