Test/Connected Services/TiFenCeService/TiFenCeService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.PdfProcessing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.PdfProcessing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TiFenCeProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="ResultPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiFenCeProcessInfo" nillable="true" type="tns:TiFenCeProcessInfo" />
</xs:schema>