Test/Connected Services/TiFenCeService/TiFenCeService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.SelfEvaluation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAutoZonedQuestionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoZonedQuestionMapping" nillable="true" type="tns:AutoZonedQuestionMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoZonedQuestionMapping" nillable="true" type="tns:ArrayOfAutoZonedQuestionMapping" />
  <xs:complexType name="AutoZonedQuestionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChoiceCount" type="xs:int" />
      <xs:element minOccurs="0" name="OptionGroupNumber" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionHtml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionModelId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionScore" type="xs:double" />
      <xs:element minOccurs="0" name="QuestionTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoZonedQuestionMapping" nillable="true" type="tns:AutoZonedQuestionMapping" />
  <xs:complexType name="ArrayOfEvaluationAuditResultQuestionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EvaluationAuditResultQuestionMapping" nillable="true" type="tns:EvaluationAuditResultQuestionMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvaluationAuditResultQuestionMapping" nillable="true" type="tns:ArrayOfEvaluationAuditResultQuestionMapping" />
  <xs:complexType name="EvaluationAuditResultQuestionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChooseGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionFullScore" type="xs:double" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluationAuditResultQuestionMapping" nillable="true" type="tns:EvaluationAuditResultQuestionMapping" />
</xs:schema>