Test/Connected Services/TiFenCeService/TiFenCeService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.UserManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.UserManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrganizationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatePdfEnable" type="xs:int" />
      <xs:element minOccurs="0" name="CreateUserId" type="xs:int" />
      <xs:element minOccurs="0" name="EvaluationCoverUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAllowCreateTiMingCe" type="xs:int" />
      <xs:element minOccurs="0" name="IsAllowSelfQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="IsSetEvaluationCover" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStatsViewEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationCode" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Principal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateJuanZiEnabled" type="xs:int" />
      <xs:element minOccurs="0" name="RelatedRegionUserId" type="xs:int" />
      <xs:element minOccurs="0" name="SubOrganizationMaxCount" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationDetail" nillable="true" type="tns:OrganizationDetail" />
  <xs:complexType name="ArrayOfOrganizationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationInfo" nillable="true" type="tns:OrganizationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationInfo" nillable="true" type="tns:ArrayOfOrganizationInfo" />
  <xs:complexType name="OrganizationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" type="xs:int" />
      <xs:element minOccurs="0" name="ConsumeTiFenCePoint" type="xs:double" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HighLinePoint" type="xs:double" />
      <xs:element minOccurs="0" name="MoPoint" type="xs:double" />
      <xs:element minOccurs="0" name="OrganizationCode" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Principal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionUserId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusFlag" type="xs:int" />
      <xs:element minOccurs="0" name="TiFenCePoint" type="xs:double" />
      <xs:element minOccurs="0" name="UsageNumPoint" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationInfo" nillable="true" type="tns:OrganizationInfo" />
</xs:schema>