Test/Connected Services/TiFenCeService/TiFenCeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.Organization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/YunXuePing.Model.TiFenCe.Organization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrganizationCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationCourse" nillable="true" type="tns:OrganizationCourse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationCourse" nillable="true" type="tns:ArrayOfOrganizationCourse" />
  <xs:complexType name="OrganizationCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CourseTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationCourse" nillable="true" type="tns:OrganizationCourse" />
</xs:schema>